// Only change to the default asciidoctor settings file here
// ================== General settings for the whole website ==================================
$body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

$code-font: SFMono-Regular, Menlo, Monaco, Consolas, "Ubuntu Mono",
"Liberation Mono", "Courier New", monospace;
$url-font: $body-font; 

// colors
$text-color: black;
$secondary-text-color: gray;
$bg-color: white;
$contrast-color: green;
$border-color: #333333;
// ================== General settings for the whole website ==================================

$body-bg: $bg-color;
$body-font-color: $text-color;
$body-font-family: $body-font;

// for links etc.
$primary-color: $contrast-color; // darken(#2561ba, 5%);
$alert-color: lighten(#3a120c, 15%); // $code-color is 15% darker than $alert-color, so we lighten here by 15%

// Headings
$header-font-family: $body-font;
$header-font-weight: bold; // 300;
$header-font-color: $text-color; // #ba3925;
$title-font-weight: $header-font-weight;

// used for e.g. the table of conent header
$subheader-font-color: $body-font;

// Code
$code-font-family: $code-font;

// Code Blocks
$pre-font-family: $code-font;


// Links
// dont underline links
$anchor-text-decoration: none; // underline;
