// I use this file to overwrite stuff from the default theme
// this is the easiest possible way to do this for me



// @import "fonts/asciidoctor";
@import "settings/asciidoctor";
// @import "settings/fresh";
@import "asciidoctor";
@import "components/asciidoc";
@import "components/awesome-icons";

// =======================================================
$body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

$code-font: SFMono-Regular, Menlo, Monaco, Consolas, "Ubuntu Mono",
"Liberation Mono", "Courier New", monospace;

$text-color: black;
$contrast-color: blue;
$secondary-text-color: gray;
$bg-color: white;
$border-color: #333333;
// ===================================================

h1, h2, h3, h4, p, .footnote, .title {
  font-family: $body-font;
  color: $text-color;
}

h1 {
  color: $text-color;
  font-weight: bold;
}

// h2, h3 {
//   color: $contrast-color;
// }

h4 {
  color: $secondary-text-color;
}

a {
  text-decoration: none;
  color: blue;
}

header {
  border-bottom: 1px solid #e7e7e9;
}

// .listingblock .title {

// }

@import "components/print";
